# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/

#system and ide files
.DS_Store
.vscode/
.github/

# RESPAN specific
/RESPAN/Models
/RESPAN/Archive
/RESPAN/last_dir.pickle
/RESPAN/last_dir2.pickle
/RESPAN/last_dir3.pickle
/RESPAN/Scripts/CAREdata

/RESPAN/Dist
/RESPAN/Build
/RESPAN/External_Scripts
/RESPAN/.pytest_cache
/RESPAN/.idea
*.pkl


# Raw data directories
/data/
/nnUNet/
*.tif
*.tiff
*.nii
*.nii.gz
*.tar.gz

# Dataset results (large model files)
/Dataset*/
